export(dbData)
export(dbNBins)
export(loss)
export(loss2)
export(lossMean)
export(lossRandom)
export(lossCalc)
export(binRdm)
export(binStd)
exportClasses(dataDB)
exportMethods(dim)
exportMethods(head)
exportMethods(names)
